.navbar{
    background-color:#303F60;
 /* border: 2px solid green; */
    height: 55px;
    width: 100vw;
    /* box-sizing: border-box; */
    box-sizing: content-box;
    display: flex;
    border-bottom: 0.1px solid#4D618E;
    /* padding-left: 50px;
    padding-right: 50px; */
}

.logoimg {
    height: 60px;
    width: 90px;
    /* border-bottom: rgb(52, 190, 245); */
    background-color: #303F60;
  }

.login-button{
    /* height: 50px;
    width:50px; */
    background-color: #303F60;
    border-radius: 5px;
    height: 0px;
    /* margin-left: 1200px; */
    /* margin-top: 10px; */
    /* border: 0px;
    border-bottom: 0.2px rgb(52, 190, 245); */
}

.login{
    border-radius: 20px;
    height: 35px;
    color: aliceblue;
    width: 100px;
    margin-top: 10px;
    border:0px;
    background-color: #1c88d6;
    margin-left: 12px;
}

.div-nav-element{
    display: flex;
    height: 55px;
    width: 300px;
    margin-left: 1080px;
   background-color: #303F60;
    /* border: 4px solid red; */
    justify-content:center
    
}

.name-box-initial{
    width: 50px;
    height: 48px;
    margin-top: 5px;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #D9EFFF;
    color: gray;
}

.post-job-link{
    color: white;
    margin-right: 15px;
    font-size: 16px;
    background-color: #303F60;
    justify-content: center;
    margin-top: 15px;
   text-decoration: none;
}

.login-btn-navbar{
    background-color: #303F60;
    margin-left: 1250px;
}
