.navbar {
  background-color: #303f60;
  height: 55px;
  width: 100vw;
  box-sizing: content-box;
  display: flex;
  border-bottom: 0.1px solid#4D618E;
  justify-content: space-between;
  align-items: center;
}

.logoimg {
  height: 60px;
  width: 90px;
  background-color: #303f60;
}

.login-button {
  background-color: #303f60;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.login {
  border-radius: 20px;
  height: 35px;
  color: aliceblue;
  width: 100px;
  border: 0px;
  background-color: #1c88d6;
  margin-left: 12px;
}

.div-nav-element {
  display: flex;
  height: 55px;
  width: 300px;
  background-color: #303f60;
  justify-content: center;
  align-items: center;
}

.name-box-initial {
  width: 50px;
  height: 48px;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 25px;
  background-color: #d9efff;
  color: gray;
}

.post-job-link {
  color: white;
  margin-right: 15px;
  font-size: 16px;
  background-color: #303f60;
  justify-content: center;
  text-decoration: none;
}

.login-btn-navbar {
  background-color: #303f60;
  margin-right: 30px;
}
