*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color:#EDF6FF; */
    /* width: 100vw;
    height: 100vh; */
}

.div1-forgotpassword{
    width: 100vw;
    height: 300px;
    border: 0.1px solid ;
    background-color: #303F60;
    /* display: flex; */
    align-items: center;
}

.div2{
    margin-top: 350px;
    width: 100vw;
    height: 50px;
    /* border:5px solid green; */
    background-color: #EDF6FF;

}

.forgot-password-wrapper{
    background-color: #EDF6FF;

}

.password-box-forgotpassword{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 270px;
    margin-left: 480px;
    width: 500px;
    background-color: #FFFFFF;
    border: 1px solid rgb(190, 185, 185);
    padding: 5px;
    border-radius: 10px;
}

.text{
    padding:8px;
}