.modal-wrapper {
    background-color: #EDF6FF;

}

.div1-modal{
    width: 100vw;
    border: 3px solid red;
    height: 300px;
    border: 0.1px solid ;
    background-color: #303F60;
    align-items: center;
}

.div2{
    /* margin-top: 120px;
    width: 100vw;
    height: 320px;
    border:5px solid green;
    background-color: #EDF6FF; */
}

.modal-form{
    display: flex;
    border:2px solid greenyellow;
    flex-direction: column;
    text-align: left;
    height: 400px;
    margin-top: 90px;
    margin-left: 530px;
    width: 425px;
    background-color: #ffff;
    border: 1px solid rgb(190, 185, 185);
    padding: 20px;
    border-radius: 9px;
    box-shadow: #303F60;
    color: black;
}

.email-text{
    color: black;
    padding-bottom: 10px;
}

.submit-button{
    background-color: #43AFFF;
    border-radius: 5px;
    align-items: center;
    margin-left: 140px;
    border: none;
    height: 40px;
    width:100px;
}
.modal-inputs{
    margin-top:10px;
    background-color:#E8E8E833;
    border-radius:3px;
    border:0.8px solid #FF333380;
    height:36px;
    width:380px;
    
}